client-app-mobile-chat/node_modules/
client-app-mobile-chat/.expo/
client-app-mobile-chat/dist/
client-app-mobile-chat/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
client-app-mobile-chat/web-build/

# macOS
client-app-mobile-chat/.DS_Store


api-app-mobile-chat/node_modules/