.container-grid-button {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.container {
  display: flex;
  flex-direction: column;
}

.contBtn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.onglets {
  width: 250px;
  height: 40px;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom: none;
}

.container-grid {
  display: flex;
  flex-direction: column;
  background-color: #aaaabc;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 20px;
}

.active {
  background: #aaaabc;
  color: white;
}
.containerInput {
  gap: 10px;
}

.button {
  padding: 8px;
  width: 150px;
  background-color: transparent;
  border: solid 1px black;
  color: white;
  margin-top: 0;
  margin-bottom: 23px;
  align-self: flex-end;
  cursor: pointer;
  justify-content: center;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
